$color-primary-light: #a4be7b;
$color-primary-dark: #5f8d4e;

$color-secondary-light: #f1d3b3;
$color-secondary-dark: #c7bca1;

$color-tetiary-light: #f8c4b4;
$color-tetiary-dark: #ff8787;

$color-font-primary: #fff;
$color-font-secondary: #65647c;